
// background
@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
	background: {
		image: url($base-path + $imgpath);
		position: $position;
		repeat: $repeat;
	}
}

// 2x images
@mixin image-2x($image, $width, $height) {
	@media (min--moz-device-pixel-ratio: 1.3),
	(-o-min-device-pixel-ratio: 2.6/2),
	(-webkit-min-device-pixel-ratio: 1.3),
	(min-device-pixel-ratio: 1.3),
	(min-resolution: 1.3dppx) {
		/* on retina, use image that's scaled by 2 */
		background-image: url($image);
		background-size: $width $height;
	}
}

// Center block-element
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Text Overflow
@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// Position Absolute
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}



