@mixin triangle($size: 10px, $color: $black, $direction: up) {
    width: 0; height: 0;
    border: $size solid transparent;

    @if $direction == right {
        border-left-color: $color;
        border-right: 0;
    }

    @if $direction == left {
        border-left: 0;
        border-right-color: $color;
    }

    @if $direction == up {
        border-bottom-color: $color;
        border-top: 0;
    }

    @if $direction == down {
        border-bottom: 0;
        border-top-color: $color;
    }
}
