.is-disabled-fld,

.is-disabled-label {
    @include opacity(.5);
}

.is-disabled {
    @include opacity(.5);
    pointer-events: none;
}

*[disabled] {
    //    @include opacity(0.5);
    pointer-events: none;
}

.is-loading {
    .mobile-nav-toggle {
        @include animation(rotateAndSkew 1500ms infinite ease-in-out);
        opacity: .5;
    }
}

.is-ajax-loading {
    @include transition(opacity 300ms linear);
    opacity: .5;
    pointer-events: none;
    position: relative;
}

.is-ajax-loading .ajax-load-overlay,
.is-ajax-loader:before {
    background-color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border-radius: 20px;
    content: '';
    display: block;
    height: 36px;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    opacity: .75;
    position: absolute;
    top: 50%;
    width: 36px;
    z-index: 20;
}

.ajax-loading-box.is-ajax-loading {
    padding: 20px;
    position: relative;
}

.is-ajax-loader:before {
    background-color: $black;
    background-size: 18px 18px;
    border: 0;
    bottom: -5px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    right: -5px;
    top: 50%;
    width: 30px;
    z-index: 1;
}
